/* *My style Utility* */
.ms-bg-black{
    background-color: #000;
}

.ms-bg-psplus{
    background-color: #bebcbb;
}

.ms-bg-psnow{
    background-color: #161c3b;
}

.ms-bg-footer{
    background-color: #00439c;
}

.ms-text-black{
    color: #000;
}

.ms-btn-jumbo{
    background-color: #cd3d0f;
}

.ms-border-image{
    border-radius: 30px;
}

/* !Start Header */

header{
    z-index: 1;
}

header .top-bar{
    height: 40px;
    line-height: 40px;
}


/* !Start Main */

.jumbotron{
    padding-top: 300px;
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100px;
    opacity: 0.9;
}

.jumbotron-2{
    padding-top: 300px;
    height: 600px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

/*? Hover Effect Gallery-1 */

#gallery-1 .row > div[class^="col-"]{
    transition: 1s;
}

#gallery-1 .row > div[class^="col-"]:hover{
    transform: translateY(-10%);
    cursor: pointer;
}

/*? Hover Effect Gallery-2 */

#gallery-2 .row.text-center > div:nth-child(n + 2){
    transition: 1s;
    opacity: 0.5;
}

#gallery-2 .row.text-center > div:nth-child(n + 2):hover{
    opacity: 1;
    cursor: pointer;
}