/* *My style Utility* */
.ms-bg-black{
    background-color: #000;
}

.ms-bg-psplus{
    background-color: #bebcbb;
}

.ms-text-black{
    color: #000;
}

.ms-border-image{
    border-radius: 30px;
}

/* !Start Header */

header{
    position: fixed;
    width: 100%;
}

header .top-bar{
    height: 40px;
    line-height: 40px;
}

/* !Start Main */

.jumbotron{
    padding-top: 100px;
}